* {
    margin: 0px;
    padding: 0px;
}


/* body {
    font-family: "https://fonts.google.com/specimen/Poppins";
} */

h1 {
    font-weight: 600 !important;
    background-color: red;
    font-family: "https://fonts.google.com/specimen/Poppins";
}


/* header  */

header {
    background-color: hsl(193, 100%, 96%);
    padding: 40px 60px 40px 60px;
}

header div {
    width: 45%;
    display: inline-block;
    margin: auto;
}

header button {
    padding: 15px 90px 15px 90px;
    border-radius: 25px;
    border: none;
    outline: none;
}


/* header div:nth-child(1) {
    float: left;
    clear: both;
} */

header div:nth-child(2) {
    float: right;
    clear: both;
    text-align: right;
}


/* main  */


/* main {
    padding: 40px 60px 40px 60px;
} */

#hero-section {
    background-color: rebeccapurple;
    overflow: auto;
    padding: 40px 60px 40px 60px;
}

#hero-section-textbox {
    width: 49%;
    display: inline-block;
    /* background-color: rgb(30, 97, 16); */
    /* float: left; */
    /* margin: auto; */
}

#hero-section-textbox p {
    font-size: 18px;
}

#hero-section-image {
    float: right;
    width: 49%;
    /* display: inline-block; */
    text-align: right;
}


/* card section styles starts  */

#card-section div {
    width: 60%;
    margin: 30px auto 30px auto;
    border-radius: 10px 10px 10px 10px;
}

#card-section .odd {
    background-color: rgb(51, 255, 0);
    overflow: auto;
}

#card-section .odd div {
    width: 49%;
    background: orange;
    display: inline-block;
}

#card-section .odd img {
    width: 49%;
    float: right;
}

#card-section .even {
    background-color: rgb(247, 0, 255);
    overflow: auto;
}

#card-section .even div {
    width: 49%;
    background: orange;
    display: inline-block;
}

#card-section .even img {
    width: 49%;
    float: left;
}