* {
    margin: 0px;
    padding: 0px;
}

body {
    font-size: 18px
}


/* header  */

header {
    background-color: hsl(193, 100%, 96%);
    padding: 40px 60px 40px 60px;
}

header div {
    width: 45%;
    display: inline-block;
    margin: auto;
}

header button {
    padding: 15px 90px 15px 90px;
    border-radius: 25px;
    border: none;
    outline: none;
}


/* header div:nth-child(1) {
    float: left;
    clear: both;
} */

header div:nth-child(2) {
    float: right;
    clear: both;
    text-align: right;
}


/* main  */

main {
    padding: 40px 60px 40px 60px;
}

#hero-section {
    background-color: rebeccapurple;
}

#hero-section img {
    /* width: 300px; */
}

#hero-section div {
    width: 45%;
    display: inline-block;
}